<div class="px-[2vw] flex flex-col overflow-x-hidden">
    <header class="relative flex w-full mb-[6vw] fade-in">
        <p class="uppercase text-[3vw] text-[#DCD2E2] z-10 font-[600]">
            our services
        </p>

        <img
            src="/src/assets/lights.png"
            class="w-full absolute z-0 -right-[22%] top-[50%]"
        />
    </header>
    <div class="font-500 space-y-[6vw]">
        <div class="flex w-full">
            <div class="text-[#DCD2E2] text-[1.5vw] w-[52%] fade-in font-[600]">
                Development
            </div>
            <div class="space-y-[6vw]">
                <div class="relative z-10 space-y-[2vw]">
                    <p class="text-[#6E677D] text-[1.5vw] fade-in">Web3</p>
                    <div class="flex space-x-[2.5vw]">
                        <div class="space-y-[2vw] fade-in">
                            {
                                [
                                    {
                                        name: "MVP in 14 Days",
                                        desc: "Rapid full-cycle product launch",
                                    },
                                    {
                                        name: "NFT Marketplace & Token Launch",
                                        desc: "Platform for minting and selling NFTs",
                                    },
                                    {
                                        name: "Gamified Onboarding & Web3 Bots",
                                        desc: "Quests, XP and crypto bots",
                                    },
                                    {
                                        name: "Zero-Knowledge Privacy Systems",
                                        desc: "ZK-based onboarding and private access",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw]">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                        <div class="space-y-[2vw]">
                            {
                                [
                                    {
                                        name: "DeFi Platform Development",
                                        desc: "Decentralized financial services",
                                    },

                                    {
                                        name: "DAO Governance Platform",
                                        desc: "Tools for decentralized  management",
                                    },
                                    {
                                        name: "AI + Web3 Integrations",
                                        desc: "AI-powered decentralized applications",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw] fade-in">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>

                <div class="relative z-10 space-y-[2vw]">
                    <p class="text-[#6E677D] text-[1.5vw] fade-in">General</p>
                    <div class="flex space-x-[2.5vw]">
                        <div class="space-y-[2vw]">
                            {
                                [
                                    {
                                        name: "Custom SaaS Development",
                                        desc: "End-to-end SaaS with CMS & logic",
                                    },
                                    {
                                        name: "AI-Powered Web Tools",
                                        desc: "Generators, chatbots and automation",
                                    },
                                    {
                                        name: "Corporate Website",
                                        desc: "Structured brand presence website",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw] fade-in">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                        <div class="space-y-[2vw]">
                            {
                                [
                                    {
                                        name: "Admin Panels & CMS Systems",
                                        desc: "Custom panels for content / user control",
                                    },

                                    {
                                        name: "E-commerce Storefront",
                                        desc: "Online store with catalog and cart",
                                    },
                                    {
                                        name: "Marketing Landing Page",
                                        desc: "Promo landing with animation & layout",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw] fade-in">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-full">
            <div class="text-[#DCD2E2] text-[1.5vw] w-[52%] fade-in font-[600]">
                Audit
            </div>
            <div class="space-y-[6vw]">
                <div class="relative z-10 space-y-[2vw]">
                    <p class="text-[#6E677D] text-[1.5vw] fade-in">Web3</p>
                    <div class="flex space-x-[2.5vw]">
                        <div class="space-y-[2vw]">
                            {
                                [
                                    {
                                        name: "Smart Contract Security Audit",
                                        desc: "Vulnerability check for smart contracts",
                                    },
                                    {
                                        name: "UX Audit for Web3 Apps",
                                        desc: "User experience audit for crypto apps",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw] fade-in">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                        <div class="space-y-[2vw]">
                            {
                                [
                                    {
                                        name: "Web3 Code Quality Audit",
                                        desc: "Logic and modularity code review",
                                    },
                                ].map((item) => (
                                    <div class="text-[1vw] fade-in">
                                        <p class="text-[#DCD2E2]">
                                            {item.name}
                                        </p>
                                        <p class="text-[#6E677D]">
                                            {item.desc}
                                        </p>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: 1,
                rootMargin: "0px 0px 0px 0px",
            },
        );

        document
            .querySelectorAll(".fade-in, .scale-in , .fade-in-without-move")
            .forEach((el) => observer.observe(el));
    });
</script>
